body {
    height: 100vh;

}

.header {
    display: flex;    
    background-color: white;
    font-family: fantasy;
    font-size: 100px;
    padding: 30px;
    border: 3px solid yellow;
    border-radius: 50px;
    box-shadow: 1px 0px 5px 10px black;
    width: fit-content;
    margin-left: 600px;
    margin-top: 100px;

}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: -50px ;

}

.goku-name {
    font-family: monospace;
    font-size: 164px;
    display: flex;
    gap: 100px;
}

.container-one .goku-image {
    width: 250px;
    height: auto;
    margin: -125px;
    padding: 30px;
        
}

.left-side img,
.right-side img {
    
    width: 50px;
    height: auto;
    
}

.left-side p,
.right-side p {
    font-family: fantasy;
    color: black;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container-one p:hover {
    color: red
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    border: 5px solid black;
    border-radius: 50px;
    

}
.right-side {
    flex-direction:
}

.power-level,
.potential,
.intelligence,
.personality {
    display: flex;
    align-items: center;
    gap: 20px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 100px;
}

a:hover {
    color: yellow;
}

.container-two {
    display: flex;
    justify-content: center;
  
    justify-content: space-between;
    background-color: #1F2937;
}


.goku-backwards-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 250px;
    padding: 100px;
    border: 1px solid black;
   
    margin: 10px;
}

.container-two .text-box {
    width: 100%;
    border: 1px solid black;
}

.goku-forward-image img {
    display: flex;
    align-items: center;
    height: auto;
    width: 450px;
    padding: 100px;
    border: 1px solid black;
}


.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 100px;
}
